<head>

</style>
</head>
<body>
<form method="post" action="intro_page">
 	<center>
 	<div class="welcome">
 		<p> Welcome! How would you like to enjoy a Little Slice of Heaven?  </p><br>
 	</div>	
 		<input type="radio" style="width:15px; height:15px;" name="delivery_option" id="carry_out" value="carryout" onclick='info(1); infoToo(0);'>
			<label for="carryout"> Carryout </label><br>
		<input type="radio" style="width:15px; height:15px;" name="delivery_option" id="no_dining_room" value="delivery" onclick='info(0); infoToo(1)'>		
			<label for="delivery"> Delivery ($5.00 Fee) </label><br>	
	



	<div class="location_info" id="location">
		<p>We are conveniently located in downtown Logan, WV.</p>
		<p>Please submit your name and phone number to continue your order:</p>
		<input type="text" placeholder="Name" name="customer"><br>
		<input type="tel" placeholder="Telephone Number" name="phone"><br>
		<input type="hidden" name="address">
	</div>
					
	
	<div class="delivery_info" id="delivery">
		<p>Please submit your name, street address and phone number for delivery:</p>
	    <input type="text" placeholder="Name" name="customer"><br>
	    <input type="text" placeholder="Street Address" name="address"><br>
	    <input type="tel" placeholder="Telephone Number" name="phone"><br>
	</div>

	
<button class='button'>Submit</button>
	</center>	
</form>


<!-- Couldn't require these input fields without requiring user to input both carryout and delivery boxes - unsure how to make sure the user fills them out.  Also need to work on the total page, withholding the delivery confirmation statement if carryout.