<html>
  <head>
   <link rel="stylesheet" type="text/css" href="/css/styles.css">
   <script src="/js/pizzajs.js"></script>
  </head>
  <body>
    <center>
      <div class="title">Pizza App</div><br>
      <%= yield %>

    </center>
    </body>
</html>