<link rel="stylesheet" type="text/css" href="/css/styles.css">
<style>
.title_box {
		width: 100%;
    height: 21%;
    border-bottom-style: solid;
    border-bottom-width: thick;
    background-image: url(/img/pizza-header.jpg);
    filter: blur(0.5px);
}

.title {
		font-size: 8vw;
    text-shadow: 3px 2px 5px #f4e5ce, -2px 2px 4px lawngreen;
    font-weight: bold;
}

body {
	    background-color: #f4e5ce
}

.submit {
    	display: inline-block;
    padding: 10px 16px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #478808de;
    border: solid;
    border-radius: 25px;
}


.submit:hover {
		background-color: white
}

.submit:active {
  		background-color: #3e8e41;
  transform: translateY(4px);
}

label {
		font-size: 24px;
}
</style>

<form method="post" action="pizza_options" id="myForm">
	<div class="title_box">
		<div class="title"> Slice of Heaven </div><br>
	</div>
	<div class="quantity">
		<p style="font-size:28px; font-weight:bold;"> Please choose how many pizzas you would like: </p>
		<input type="number" name="how_many" placeholder="Number of Pizzas" maxlength="2" min="0" required style="height:28px;   width:20%; text-align:center; font-size:20px"><br>
	</div>
<hr/>
	<div class="size_button">
		<p style="font-size:28px; font-weight:bold;"> Please pick a size: </p>
		<input type="radio" style="width:15px; height:15px;" name="pizza_size" id="small_pizza" value="Small" required>
			<label for="small"> Small - $5.00 </label><br>
		<input type="radio" style="width:15px; height:15px;" name="pizza_size" id="med_pizza" value="Medium">		
			<label for="medium"> Medium - $7.00 </label><br>
		<input type="radio" style="width:15px; height:15px;" name="pizza_size" id="lg_pizza" value="Large">
			<label for="large"> Large - $9.00 </label><br>
	</div>
<hr/>
	<div class="crust_style">
		<p style="font-size:28px; font-weight:bold;"> Please choose your crust: </p>
		<input type="radio" style="width:15px; height:15px;" name="crust_type" id="hand" value="Hand Tossed" required>
			<label for="hand tossed"> Hand Tossed </label><br>
		<input type="radio" style="width:15px; height:15px;" name="crust_type" id="pan" value="Pan Crust">		
			<label for="pan crust"> Pan Crust ($1.00/Pizza) </label><br>					
	</div>
<hr/>
	<div class="topping_choices">
		<p style="font-size:28px; font-weight:bold;"> Please choose which toppings you would like: </p>
		<div class="meats">
			<input type="checkbox" style="width:15px; height:15px;" name="toppings[]" id="pepp" value="Pepperoni" class="topping_choices">
				<label for="pepperoni"> Pepperoni ($0.50/Pizza) </label><br>
			<input type="checkbox" style="width:15px; height:15px;" name="toppings[]" id="saus" value="Sausage" class="topping_choices">
				<label for="sausage"> Sausage ($0.50/Pizza) </label><br>
			<input type="checkbox" style="width:15px; height:15px;" name="toppings[]" id="ham" value="Ham" class="topping_choices">	
				<label for="ham"> Ham ($0.75/Pizza) </label><br>
			<input type="checkbox" style="width:15px; height:15px;" name="toppings[]" id="bacon" value="Bacon" class="topping_choices">					
				<label for="bacon"> Bacon ($0.75/Pizza) </label><br>
		</div>
		<div class="veggies">
			<input type="checkbox" style="width:15px; height:15px;" name="toppings[]" id="gpepp" value="Green Peppers" class="topping_choices">
				<label for="green_peppers"> Green Peppers ($0.25/Pizza) </label><br>
			<input type="checkbox" style="width:15px; height:15px;" name="toppings[]" id="bpepp" value="Banana Peppers" class="topping_choices">		
				<label for="banana_peppers"> Banana Peppers ($0.25/Pizza) </label><br>
			<input type="checkbox" style="width:15px; height:15px;" name="toppings[]" id="mush" value="Mushrooms" class="topping_choices">		
				<label for="mushrooms"> Mushrooms ($0.25/Pizza) </label><br>
			<input type="checkbox" style="width:15px; height:15px;" name="toppings[]" id="olive" value="Olives" class="topping_choices">		
				<label for="olives"> Olives ($0.25/Pizza) </label><br>
			<input type="checkbox" style="width:15px; height:15px;" name="toppings[]" id="onion" value="Onions" class="topping_choices">		
				<label for="onions"> Onions ($0.25/Pizza) </label><br>
					
		</div>
		<div class="extras">
			<input type="checkbox" style="width:15px; height:15px;" name="toppings[]" id="pine" value="Pineapple" class="topping_choices">
				<label for="pineapple"> Pineapple ($1.00/Pizza) </label><br>
			<input type="checkbox" style="width:15px; height:15px;" name="toppings[]" id="exchez" value="Extra Cheese" class="topping_choices">		
				<label for="extra_cheese"> Extra Cheese ($1.00/Pizza) </label><br>
					
		</div>
		<div class="none">
			<input type="checkbox" style="width:15px; height:15px;" name="toppings[]" id="none" value="No Toppings" class="topping_choices">
				<label for="none"> No Toppings </label><br>					
		</div>
	</div>
<hr/>
	<!-- <div class="delivery_buttons">
		<p style="font-size:28px; font-weight:bold;"> Will this be carryout or delivery? </p>
		<input type="radio" style="width:15px; height:15px;" name="delivery_option" id="carry_out" value="carryout" required>
				<label for="carryout"> Carryout </label><br>
		<input type="radio" style="width:15px; height:15px;" name="delivery_option" id="no_dining_room" value="delivery">		
				<label for="delivery"> Delivery ($5.00 Fee) </label><br>
					
	</div> -->
</div><br>
<input type="submit" name="submit" value="Submit" onclick="return val();" />
</form>






