<link rel="stylesheet" type="text/css" href="/css/styles.css">
<style>
.title_box {
		width: 100%;
    height: 21%;
    border-bottom-style: solid;
    border-bottom-width: thick;
    background-image: url(/img/pizza-header.jpg);
    filter: blur(0.5px);
}

.title {
		font-size: 8vw;
    text-shadow: 3px 2px 5px #f4e5ce, -2px 2px 4px lawngreen;
    font-weight: bold;
}

body {
	    background-color: #e6e1dcc2
}
</style>

<form method="post" action="pizza_options" id="myForm">
	<div class="title_box">
		<div class="title"> Slice of Heaven </div><br>
	</div>
	<div class="quantity">
		<p class="small_headings"> Please choose how many pizzas you would like: </p>
		<input type="number" name="how_many" placeholder="Number of Pizzas" maxlength="2" min="0" required autofocus style="height:28px;
	width:20%;text-align:center;font-size:18px"><br>
	</div>
<hr/>
	<div class="size_button">
		<p class="small_headings"> Please pick a size: </p>
		<input type="radio" class="my_box" name="pizza_size" id="small_pizza" value="Small" required style="width:15px;height:15px;">
			<label for="small"> Small - $5.00 </label><br>
		<input type="radio" class="my_box" name="pizza_size" id="med_pizza" value="Medium" style="width:15px;height:15px;">		
			<label for="medium"> Medium - $7.00 </label><br>
		<input class="my_box" type="radio" name="pizza_size" id="lg_pizza" value="Large" style="width:15px;height:15px;">
			<label for="large"> Large - $9.00 </label><br>
	</div>
<hr/>
	<div class="crust_style">
		<p class="small_headings"> Please choose your crust: </p>
		<input type="radio" name="crust_type" id="hand" value="Hand Tossed" required style="width:15px;height:15px;">
			<label for="hand tossed"> Hand Tossed </label><br>
		<input type="radio" name="crust_type" id="pan" value="Pan Crust" style="width:15px;height:15px;">		
			<label for="pan crust"> Pan Crust ($1.00/Pizza) </label><br>					
	</div>
<hr/>
	<div class="topping_choices">
		<p class="small_headings"> Please choose which toppings you would like: </p>
		<div class="meats">
			<input type="checkbox" name="toppings[]" id="top" value="Pepperoni" class="topping_choices" style="width:15px;height:15px;">
				<label for="pepperoni"> Pepperoni ($0.50/Pizza) </label><br>
			<input type="checkbox" name="toppings[]" id="top" value="Sausage" class="topping_choices" style="width:15px;height:15px;">
				<label for="sausage"> Sausage ($0.50/Pizza) </label><br>
			<input type="checkbox" name="toppings[]" id="top" value="Ham" class="topping_choices" style="width:15px;height:15px;">	
				<label for="ham"> Ham ($0.75/Pizza) </label><br>
			<input type="checkbox" name="toppings[]" id="top" value="Bacon" class="topping_choices" style="width:15px;height:15px;">					
				<label for="bacon"> Bacon ($0.75/Pizza) </label><br>
		</div>
		<div class="veggies">
			<input type="checkbox" name="toppings[]" id="gpepp" value="Green Peppers" class="topping_choices" style="width:15px;height:15px;">
				<label for="green_peppers"> Green Peppers ($0.25/Pizza) </label><br>
			<input type="checkbox" name="toppings[]" id="top" value="Banana Peppers" class="topping_choices" style="width:15px;height:15px;">		
				<label for="banana_peppers"> Banana Peppers ($0.25/Pizza) </label><br>
			<input type="checkbox" name="toppings[]" id="top" value="Mushrooms" class="topping_choices" style="width:15px;height:15px;">		
				<label for="mushrooms"> Mushrooms ($0.25/Pizza) </label><br>
			<input type="checkbox" name="toppings[]" id="top" value="Olives" class="topping_choices" style="width:15px;height:15px;">		
				<label for="olives"> Olives ($0.25/Pizza) </label><br>
			<input type="checkbox" name="toppings[]" id="top" value="Onions" class="topping_choices" style="width:15px;height:15px;">		
				<label for="onions"> Onions ($0.25/Pizza) </label><br>
					
		</div>
		<div class="extras">
			<input type="checkbox" name="toppings[]" id="top" value="Pineapple" class="topping_choices" style="width:15px;height:15px;">
				<label for="pineapple"> Pineapple ($1.00/Pizza) </label><br>
			<input type="checkbox" name="toppings[]" id="top" value="Extra Cheese" class="topping_choices" style="width:15px;height:15px;">		
				<label for="extra_cheese"> Extra Cheese ($1.00/Pizza) </label><br>
					
		</div>
		<div class="none">
			<input type="checkbox" name="toppings[]" id="none" value="No Toppings" class="topping_choices" style="width:15px;height:15px;">
				<label for="none"> No Toppings </label><br>					
		</div>
	</div>
</div><br>
<input type="submit" class="button" name="submit" value="Submit" onclick="return val();" />
</form>






