<link rel="stylesheet" type="text/css" href="/css/layout.css">
<style>
body {
	background-image: url(/img/pizza_3.jpg);
	background-size: cover;
}	

form {
	   background-color: #c84327e6;
    color: #f4e5ce;
    border-style: groove;
    text-align: center;
    font-size: 40px;
    float: right;
    width: 33%;
    margin-top: 140px;
    padding: 20px;
    border-color: antiquewhite;
}


</style>

<form method="post" action="total_page">
	<% if p_total.to_s[-2] == "." %>
			<% pp_total = p_total.to_s.insert(-1, "0") %>
	<% else %>
			<% pp_total = p_total %>
	<% end %>
		
	<% delivery_array.each do |option| %>
		<% if option == "delivery" %>
			<%= "Thank you #{customer2.capitalize}!<br>Your total will be $#{pp_total}.<br>Delivery Confirmation: #{address2}." %>
		<% else %>
			<%= "Thank you #{customer.capitalize}!<br>Your total will be $#{pp_total}." %>
		<% end %>
		<% end %>

</form> 

<!--  -->