body {
  font-family: verdana;
}

.button {
    	display: inline-block;
    padding: 10px 16px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #478808de;
    border: solid;
    border-radius: 25px;
}


.button:hover {
		background-color: white
}

.button:active {
  		background-color: #3e8e41;
  transform: translateY(4px);
}

.small_headings {
		font-size:26px; 
	font-weight:bold;
}

label {
		font-size: 20px;
}